---
import "../../styles/grid-principal/filter-bar.css";
---
<p class="search-filter-title">Filtro de búsqueda</p>
<div class="filter-bar">
  <button class="filter-btn">Empresas</button>
  <button class="filter-btn">Sector</button>
  <button class="filter-btn">Descuento</button>
  <button class="filter-btn">Promociones activas</button>
</div>
