---
import "../../styles/grid-principal/grid-principal.css";
import FilterBar from "./FilterBar.astro";
import BenefitCard from "./BenefitCard.astro";
import Pagination from "./Pagination.astro";
---
<div class="benefits-container">
  <FilterBar />

  <div class="benefits-grid">
    <BenefitCard
      logoSrc="/logo-auxilio.webp"
      title="Plan de Socios"
      companyName="Sociedad Española de Auxilio Mutuo y Beneficencia de Puerto Rico"
      vigencia="Marzo 2026 - No especificado"
      tipoDescuento="No especificado"
    >
      El Plan de Socios es un programa de salud sin fines de lucro. Está financiado con fondos que se disponen de la cuota que pagan sus Socios. Actualmente brinda sus servicios bajo el modelo que se conoce como un plan de cuidado dirigido, donde su proveedor primario es el Hospital Auxilio Mutuo. Por disposición de ley, el mismo no está regido por el Código de Seguros de Puerto Rico.
    </BenefitCard>

    <BenefitCard
      logoSrc="/logo-viaja.webp"
      title="Vamos Pa' España"
      companyName="VIAJA CON ÁLVARO"
      vigencia="16/04/26 - 31/12/26"
      tipoDescuento="Descuento porcentual"
    >
      Ofrezco un descuento en todos los servicios de Tours que damos en España, ya sea para trabajadores de empresas socios de la cámara, como familiares.
    </BenefitCard>

    <BenefitCard
      logoSrc="/logo-foobespain.webp"
      title="DESCUENTOS EN PARTICIPACIO DE TALLERES Y CATAS EN SHOW ROOM Y DESCUENTO PARA SOCIOS EN COMPRAS DIRECTAS DE VINOS"
      companyName="FOOBESPAIN AMERICAN LLC"
      vigencia="04/01/26 - No especificado"
      tipoDescuento="No especificado"
    >
      DESCUENTO DEL 5% EN COMPRAS DE VINO Y TALLERES DE SHOW ROOM DE FOOBESPAIN AMERICAN - WINE & WONDER PARA SOCIOS DE LA CAMARA
    </BenefitCard>

    <BenefitCard
      logoSrc="/logo-pharma.webp"
      title="Primera hora gratis y descuentos variables en los servicios"
      companyName="Pharma-Bio Serv, Inc."
      vigencia="16/03/26 - 31/12/27"
      tipoDescuento="Otro"
    >
      Ofrecemos servicios como "US Agents" para el registro de plantas de fabricación de productos de alimentación, farmacéuticos, biológicos y de productos sanitarios, así como el listado de los productos...<br/>
      <br/>Además de eso ofrecemos servicios de preparación de registros para todos los productos regulados por la FDA en los EEUU.<br/>
      <br/>Los beneficios explicados abajo.
    </BenefitCard>

    <BenefitCard
      logoSrc="/logo-dreamy.webp"
      title="INVITACION AL SHOW DE ARTICULOS PROMOCIONALES"
      companyName="McDreamy Promotions"
      vigencia="09/03/26 - 30/03/26"
      tipoDescuento="Otro"
    >
      McDreamy Promotions ofrece CINCO INVITACIONES –sin costo– para igual cantidad de socios que estén interesados en asistir. Más información en el flyer que se adjunta.
    </BenefitCard>

    <BenefitCard
      logoSrc="/logo-ponchar.webp"
      title="Ponchar.com te ofrece un descuento en los ponchadores para el control de asistencia de empleados"
      companyName="Ponchar.com"
      vigencia="01/02/26 - 30/04/26"
      tipoDescuento="Descuento porcentual"
    >
      Ofrecemos 5% de descuento en los ponchadores para los miembros de la Cámara Oficial de Comercio de España en Puerto Rico.
    </BenefitCard>

    <BenefitCard
      logoSrc="/logo-smart.webp"
      title="Smart Compliance SC365®"
      companyName="Smart Solutions & Services LLC."
      vigencia="01/02/26 - 01/04/26"
      tipoDescuento="Descuento porcentual"
    >
      Somos el socio idóneo para fomentar una estrategia de transformación digital holística y segura que potencia su éxito en un entorno cibernético cada vez más complejo, dinámico, y regulado. Nuestros servicios consultivos y soluciones de software son especializados en el fortalecer la gobernanza empresarial integrando controles de riesgo, ciberseguridad y cumplimiento en los procesos de reclutamiento, contratación, y administración de IT. Ofrecemos cursos especializados de ciberseguridad para promover una cultura organizacional de resiliencia cibernética. Además, contamos con un equipo de analistas programadores expertos en el desarrollo de sistemas, sitios web y aplicaciones para facilitar la automatización de procesos con la integración de codificación y algoritmos de inteligencia de negocio (BI) e inteligencia artificial (AI). Nos distinguimos por nuestra sólida reputación al exceder consistentemente las expectativas de nuestros clientes.
    </BenefitCard>

    <BenefitCard
      logoSrc="/logo-oberstaff.webp"
      title="Crédito de $300 para Contratación de Talento con Oberstaff"
      companyName="Oberstaff"
      vigencia="01/01/26 - 31/12/26"
      tipoDescuento="Otro"
    >
      Los socios de la Cámara Oficial de Comercio de España en Puerto Rico reciben un crédito de $300 al contratar profesionales a tiempo completo con Oberstaff. <br/><br/> Este crédito se aplica automáticamente a la tercera factura mensual, ayudando a reducir el costo operativo inicial mientras el equipo ya está en marcha.
    </BenefitCard>

    <BenefitCard
      logoSrc="/logo-sky.webp"
      title="PRIMERA CONSULTA GRATUITA EN MERCADEO"
      companyName="Sky Media Enterprises"
      vigencia="01/02/26 - 29/11/26"
      tipoDescuento="Otro"
    >
      En Sky Media Enterprises te ofrecemos tu primera consulta gratuita en mercadeo, diseñada para evaluar de manera estratégica las necesidades de tu negocio, marca o proyecto. Durante esta consulta analizamos oportu...
    </BenefitCard>
  </div>

  <Pagination />
</div>
