---
import "../../styles/banner-home/banner-media.css";
---

<div class="banner-media">
  <img
    src="/banner-home.webp"
    alt="Profesionales de negocios dándose la mano"
    class="banner-img"
  />
</div>
